h1 {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
  color: #000000
}

body {
  margin: 0;
  border: dashed 1px red;
}

.wrapper {
  width: 70%;
  margin: auto;
  border: dashed 1px blue;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
  transition: opacity .8s;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  color: #8AB5FF;
  opacity: 0.8;
}

.menu__item:hover:after, .menu__item_active:after  {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  padding-right: 0;
}

.menu__item_active::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}

.main-content__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.main-content__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
